

<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="['Main1']" routerLinkActive="active">Main1</a>
  <a mat-tab-link [routerLink]="['Main2']" routerLinkActive="active">Main2</a>
</nav>

<router-outlet></router-outlet>


<!--
<nav>
  <a [routerLink]="['Main1']">Main1</a>
  <a [routerLink]="['Main2']">Main1</a>
  <a [routerLink]="['Main3']">Main1</a>
</nav>
<router-outlet></router-outlet>
-->

<!--
<mat-tab-group>
  <mat-tab label="Main1"><a class="nav-link" [routerLink]="['Main1']" routerLinkActive="active"></a></mat-tab>
  <mat-tab label="Main2"><a class="nav-link" [routerLink]="['Main2']" routerLinkActive="active"></a></mat-tab>
  <mat-tab label="Main3"><a class="nav-link" [routerLink]="['Main3']" routerLinkActive="active"></a></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>
-->

<!--
<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{link.label}}</a>
</nav>
<router-outlet></router-outlet>
-->
